@{
    Layout = "~/Views/Shared/_Layout_Help_Cloud.cshtml";
}

<div class="add-padding-top help-text">
    <h2>
        Overview
    </h2>
    <p>
        The RS Cloud provides reporting for online registration, surveys, and email campaigns. For events, the RS Cloud provides event management functions for payments, refunds, and waitlist management. It provides tools to manage your Contact List, create additional lists, and create global reports to analyze marketing data related to your events, surveys, and campaigns.
    </p>
</div>


<div class="add-padding-vertical-2em help-text">
    <h2 class="add-padding-bottom-10">
        Cloud Modules
    </h2>
    <p class="add-padding-bottom-2em">
        <span class="text-bold text-medium"><a class="text-color-2" href="~/Help/CloudDashboard">Cloud Dashboard <span class="glyphicon glyphicon-info-sign glyphicon-small"></span></a></span>
        <br />View summary data for all of your active projects, quick links to your favorite reports, and notification of items that require your attention.
    </p>
    <p class="add-padding-bottom-2em">
        <span class="text-bold text-medium"><a class="text-color-2" href="~/Help/CloudFormReports">Registration Reports <span class="glyphicon glyphicon-info-sign glyphicon-small"></span></a></span>
        <br />Access standard and custom reports related to your event registration forms. Through this interface you can also edit, cancel, and delete registrations, process payments and refunds, and manage waitlists.
    </p>
    <p class="add-padding-bottom-2em">
        <span class="text-bold text-medium"><a class="text-color-2" href="~/Help/CloudSurveyReports">Survey Reports <span class="glyphicon glyphicon-info-sign glyphicon-small"></span></a></span>
        <br />Access standard and custom reports related to your online surveys.
    </p>
    <p class="add-padding-bottom-2em">
        <span class="text-bold text-medium"><a class="text-color-2" href="~/Help/CloudEmailReports">Email Reports <span class="glyphicon glyphicon-info-sign glyphicon-small"></span></a></span>
        <br />Access standard and custom reports related to the delivery, open, and click rates for your email marketing campaigns. Compare email success by content, subject line, time sent, audience, and more.
    </p>
    <p class="add-padding-bottom-2em">
        <span class="text-bold text-medium"><a class="text-color-2" href="~/Help/CloudGlobalReports">Global Reports <span class="glyphicon glyphicon-info-sign glyphicon-small"></span></a></span>
        <br />Create and view reports that include elements from each of the tools. For example, create reports that display data comparing historical event satisfaction rates and number of emails sent to number of repeat attendees.
    </p>
    <p class="add-padding-bottom-2em">
        <span class="text-bold text-medium"><a class="text-color-2" href="~/Help/CloudContactList">Contact List <span class="glyphicon glyphicon-info-sign glyphicon-small"></span></a></span>
        <br />Manage all of your contacts. Filter or select records to create new Static or Dynamic lists for email campaigns or registration form access. Pull historical email and registration data for each member of your contact list.
    </p>
    <p class="add-padding-bottom-2em">
        <span class="text-bold text-medium"><a class="text-color-2" href="~/Help/CloudSavedLists">Static Lists <span class="glyphicon glyphicon-info-sign glyphicon-small"></span></a></span>
        <br />View, edit, and delete Static Lists. Static Lists have static membership. You have to add each contact to the list.
    </p>
    <p class="add-padding-bottom-2em">
        <span class="text-bold text-medium"><a class="text-color-2" href="~/Help/CloudDynamicLists">Dynamic Lists <span class="glyphicon glyphicon-info-sign glyphicon-small"></span></a></span>
        <br />View and delete Dynamic Lists. Dynamic Lists have dynamic membership. Every record in your Contact List that matches the list filters will be added to the list everytime it is called.
    </p>
    <p class="add-padding-bottom-2em">
        <span class="text-bold text-medium"><a class="text-color-2" href="~/Help/CloudUpload">Upload Contacts <span class="glyphicon glyphicon-info-sign glyphicon-small"></span></a></span>
        <br />Upload new contacts, overwrite existing contacts, and add information that is specific to a Static List.
    </p>
</div>
