@{
    Layout = "~/Views/Shared/_Layout_Help_FormBuilder.cshtml";
}
@section scripts {
}
@section modals
{
}

<div class="add-padding-vertical-5 add-border-bottom">
    <div class="help-breadcrumb">
        <a href="~/Help/FormBuilder">FormBuilder</a> <span class="glyphicon glyphicon-chevron-right glyphicon-small"></span>
        RegStep Forms
    </div>
</div>

<div class="add-padding-top help-text">
    <h2 class="add-padding-bottom-5">
        How Our Forms Work
    </h2>
    <p>
        To build forms using FormBuilder, you need to understand how our forms work.
    </p>
    <p>
        Forms are comprised of Pages which are reached in a step by step process. Pages are comprised of Panels which contain groups of registration fields referred to as Components. Some Components, such as dropdowns, consist of Items which are the available selections for a Component.
    </p>
    <p>
        Pages, Panels, Components, and Items can all be enabled/disabled by RSVP selection, Audience selections, or custom logic to support multi-track registration. Each Component and Item can be assigned multiple prices based on date or Audience, and each Item can be assigned a capacity limit to track available seats and for waitlist management.
    </p>
    <p>
        Click below for a step by step process to see how our forms operate.
    </p>
</div>

<div class="add-padding-vertical-2em">
    <div class="screen-shot">
        <div class="screen-shot-text screen-shot-header">
            <div class="row text-align-center">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4 text-underline">
                    Pages
                </div>
                <div class="col-sm-4">
                    <a class="text-color-white" href="FormBuilderFormWalkPageTypes">
                        Page Types
                    </a>
                </div>
            </div>
        </div>
        <div class="screen-shot-body">
            <!--UI Markup-->
            <div class="row">
                <div class="col-xs-12 add-padding-vertical">
                    <div class="add-padding-vertical text-color-1">
                        Forms are comprised of Pages that are reached in a Step by Step Process. Pages are comprised of:
                    </div>
                    <table class="table diagram">
                        <tbody>
                            <tr>
                                <td class="diagram-form diagram-header">
                                    Annual Conference
                                </td>
                                <td class="diagram-notes">
                                    A Header for your event banner or title.
                                </td>
                            </tr>
                            <tr>
                                <td class="diagram-form diagram-info">
                                    <table width="100%">
                                        <tr>
                                            <td class="diagram-form-half">
                                                Shopping Cart: $0
                                            </td>
                                            <td align="right" class="diagram-form-half">
                                                Page: 3 of 6
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="diagram-notes">
                                    An Info Bar that displays fees and current Page.
                                </td>
                            </tr>
                            <tr>
                                <td class="diagram-form diagram-content">
                                    <table width="100%">
                                        <tr>
                                            <td class="diagram-form-half diagram-form-content">
                                                <label class="control-label">
                                                    Name
                                                </label>
                                                <input class="form-control input-sm" />
                                            </td>
                                            <td class="diagram-form-half diagram-form-content">
                                                <label class="control-label">
                                                    Hotel Room Preference
                                                </label>
                                                <select class="form-control input-sm">
                                                    <option>
                                                        King
                                                    </option>
                                                    <option>
                                                        2 Queen
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="diagram-form-content">
                                                <button class="btn btn-default">Back</button>
                                                <button class="btn btn-default">Next</button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="diagram-notes">
                                    A Content Area that contains the Panels, Components, and Items that make up your form. The Navigation Buttons are at the bottom of the Content Area.
                                </td>
                            </tr>
                            <tr>
                                <td class="diagram-form diagram-footer">
                                    Visit our website.
                                </td>
                                <td class="diagram-notes">
                                    A Footer for logos, links, and other information you wish to include.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--End UI Markup-->
        </div>
        <div class="screen-shot-text screen-shot-footer">
            Click on the topics at the top of this section to read more.
        </div>
    </div>
</div>













