@{
    Layout = "~/Views/Shared/_Layout_Help_TOC.cshtml";
}
@section scripts {
}

<div class="add-padding-vertical-5 add-border-bottom">
    <div class="help-breadcrumb">
        Table of Contents
    </div>
</div>

<div class="add-padding-top help-text">
    <span class="text-medium">Home</span>
    <ul>
        <li>
            <a class="text-color-2" href="~/Help/Index">Overview</a>
        </li>
    </ul>
</div>

<div class="add-padding-top help-text">
    <span class="text-medium">Cloud</span>
    <ul>
        <li>
            <a class="text-color-2" href="~/Help/Cloud">Overview</a>
        </li>
        <li>
            <a class="text-color-2" href="~/Help/CloudDashboard">Dashboard</a>
        </li>
        <li>
            <a class="text-color-2" href="~/Help/CloudFormReports">Registration Report List</a>
            <ul>
                <li>
                    <a class="text-color-2" href="~/Help/CloudFormReports">View Registration Report</a>
                    <ul>
                        <li>
                            <a class="text-color-2" href="~/Help/CloudSingleFormReports">Custom Report List</a>
                            <ul>
                                <li>
                                    <a class="text-color-2" href="~/Help/CloudSingleFormReport">Edit Custom Report</a>
                                </li>
                                <li>
                                    <a class="text-color-2" href="~/Help/CloudViewSingleFormReport">View Custom Report</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="text-color-2" href="~/Help/CloudRegistrant">Manage Registration</a>
                            <ul>
                                <li>
                                    <a class="text-color-2" href="~/Help/CloudTransaction">Manage Transaction</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>










