<div class="col-sm-6 text-align-right">
    <div class="btn-group btn-group-help">
        <button type="button" class="btn btn-default btn-help dropdown-toggle" data-toggle="dropdown">
            Help & Training <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="https://help.regstep.com" target="_blank">Help Docs</a>
            </li>
            <li>
                <a class="modal-link" data-toggle="modal" data-target="#account-manager">
                    Account Manager
                </a>
            </li>
            <!--
         <li>
            RS Community
        </li>-->
            <!--<li>
             Help Desk
        </li>-->
        </ul>
    </div>
</div>
