.cursor-pointer {
  cursor: pointer;
}
nav.navbar-utility li.forms > a {
  background: white;
  color: #3E3E3E;
}
nav.navbar-utility li.forms > a:hover {
  background: white;
  color: #3E3E3E;
}
nav.navbar-utility ul > li.forms > ul {
  background: white;
}
.checkbox {
  margin: 0;
}
.panel-component-reorder span.glyphicon {
  padding-left: 15px;
}
.panel-component-reorder span.glyphicon-move {
  padding-left: 0;
}
.component-element-reorder span.glyphicon {
  padding-left: 15px;
}
.form-list .folder-row {
  margin-left: 20px !Important;
}
.form-list .folder-item {
  border-left: 1px solid #3e3e3e;
  margin-left: 20px !Important;
}
.form-list .folder-action,
.form-list folder-item-action {
  padding-left: 15px !Important;
}
.form-list .folder-contents.collapse {
  display: none;
}
.form-list .folder {
  cursor: pointer;
}
.form-list .folder:hover {
  color: #7a0202;
}
.folder-list .folder-row {
  margin-left: 15px !Important;
}
.folder-list .folder-action {
  padding-left: 5px !Important;
}
.folder-list .folder-contents.collapse {
  display: none;
}
.folder-list .folder {
  cursor: pointer;
}
.folder-list .folder:hover {
  color: #7a0202;
}
.folder-list .folder-selected-text.folder-not-selected {
  display: none;
}
.folder-list .folder-link:hover {
  color: #7a0202;
}
.folder-list .folder-link.folder-selected {
  display: none;
}
.form-group {
  margin-bottom: 0 !important;
}
.inline.date {
  display: inline;
}
.inline {
  display: inline;
}
.control-label {
  font-weight: bold;
}
.tag-container,
.tag-commands {
  margin-bottom: 10px;
}
.tag-container {
  background-color: #eeeeee;
}
.tag-container .tag-title {
  background-color: #590101;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  color: white;
}
.tag-commands {
  text-align: center;
}
.tag-commands > a {
  padding-right: 10px;
}
.tag {
  padding: 5px;
}
.tag.tag-hidden {
  display: none;
}
.form-pages.pages-start {
  border-bottom: 2px solid #555555;
  margin-bottom: 1px;
}
.form-pages.pages-end {
  border-top: 2px solid #555555;
  margin-top: 1px;
}
.form-pages.pages-sortable {
  margin: 0;
}
.form-pages .form-page {
  padding: 2px;
  margin: 2px 0;
  background-color: #eeeeee;
}
.form-pages .form-page .page-info {
  font-size: 7pt;
  vertical-align: 2px;
}
.form-pages .form-page label {
  margin-top: 0;
  padding-top: 0 !important;
  font-weight: normal;
}
body.dragging {
  cursor: move !important;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
.list-order {
  width: 25px;
  text-align: left;
  display: inline-block;
}
ol.pages-sortable li.placeholder,
ol.logic-list li.placeholder {
  position: relative;
  margin: 0;
  border: none;
}
ol.pages-sortable li.placeholder:before,
ol.logic-list li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -2px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: #7a0202;
  border-right: none;
}
table.audience-table tr.placeholder {
  position: relative;
  margin: 0;
  border: none;
}
table.audience-table tr.placeholder:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #7a0202;
  margin-top: -5px;
  left: 2px;
  border-right: none;
}
table.items-sortable tr.placeholder {
  position: relative;
  margin: 0;
  border: none;
}
table.items-sortable tr.placeholder:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #7a0202;
  margin-top: -5px;
  left: 2px;
  border-right: none;
}
span.icon-move {
  font-size: 10pt;
}
table.panel-table tr.placeholder {
  position: relative;
  margin: 0;
  border: none;
}
table.panel-table tr.placeholder:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #7a0202;
  margin-top: -5px;
  left: 2px;
  border-right: none;
}
.style-item {
  display: inline-block;
  float: left;
  width: 340px;
  margin: 2px 5px;
  height: 57px;
}
.style-subsort-title {
  padding: 5px 0 5px 25px;
  border-bottom: 2px solid #222222;
  color: #590101;
  font-size: 18pt;
  font-weight: bold;
}
.editors {
  font-size: 12px;
  font-style: italic;
  color: black;
}
.editors .editor-info {
  display: inline-block;
}
.editors .editor {
  display: none;
}
.editors:hover .editor {
  display: inline-block;
}
.editors:hover .editor:not(:last-child)::after {
  content: ", ";
}
.nitrox {
  position: relative;
}
.nitrox > .nitrox-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #682828;
  background-color: rgba(104, 40, 40, 0.8);
  cursor: pointer;
  z-index: 101;
}
.nitrox > .nitrox-blur {
  -webkit-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
/*# sourceMappingURL=Layout.css.map */