.commands-side-left {
    position: fixed;
    left: -240px;
    top: 80px;
    height: auto;
    z-index: 999;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 250px;
    background-color: #FFFFFF;
}
    .commands-side-left > div {
        display: block;
        min-height: 200px;
        position: relative;
    }
    .commands-side-left footer {
        font-size: 18pt;
        line-height: 19pt;
        color: #7A0202;
        cursor: pointer;
        background-color: white;
        border: 2px solid #7A0202;
        width: 25px;
        margin: 0px;
        padding: 3px;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 10pt;
        line-height: 10pt;
        text-align: center;
    }
    .commands-side-section {
        margin: 0px;
        padding: 15px 5px;
    }
    .commands-side-section > header {
        border-bottom: 2px solid black;
        margin-bottom: 10px;
    }
    .commands-side-section > section > ul {
        list-style: none;
        padding: 0px;
    }