@using RSToolKit.WebUI.Models.Views.Register;
@model BaseRegisterView
<div class="row form-btn-panel">
    <div class="col-xs-12">
        <div class="row">
            @if (Model.PreviousPage != 0)
            {
                <div class="col-sm-4 col-md-3 col-lg-2 form-btn">
                    <a class="btn-rs btn-navigation" href="@Url.Action("Page", "AdminRegister", new { Model.RegistrantId, page = Model.PreviousPage }, Request.Url.Scheme)">Back</a>
                </div>
            }
            <div class="col-sm-4 col-md-3 col-lg-2 form-btn">
                <a href="#" class="btn-rs btn-navigation" onclick="$('#registerForm').submit()">Next</a>
            </div>
        </div>
    </div>
</div>